aardvark-py
Pillow
idna
asgiref
async-generator
attrs
azure-core
azure-eventhub
backports.zoneinfo
bcrypt
beautifulsoup4
certifi
cffi
chardet
colorama
configparser
crayons
cryptography
dbus-python
dill
distro
distro-info
Django
fuzzywuzzy
h11
MouseInfo
multiprocess
natsort
ntplib
numpy
opencv-python
outcome
pandas
paramiko
pexpect
prettytable
PTable
ptyprocess
PyAutoGUI
pycparser
PyGetWindow
PyGObject
PyMsgBox
PyNaCl
pyOpenSSL
pyperclip
PyRect
PyScreeze
pyserial
PySocks
pytesseract
python-apt
python-dateutil
python3-xlib
pytweening
pytz
PyYAML
requests
requests-unixsocket
selenium
six
sniffio
sortedcontainers
soupsieve
sqlparse
ssh-import-id
sshaolin
termcolor
trio
trio-websocket
uamqp
unattended-upgrades
urllib3
wcwidth
webdriver-manager
wsproto